<html>
  <head>
    <title>Login</title>

    <link href="style.css" type="text/css" rel="stylesheet">
  </head>
  <body>

    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->    
        <!-- Login Form -->
        <form action="/login" method="post">
          <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username">
          <input type="password" id="password" class="fadeIn second" name="password" placeholder="Password">
          <input type="submit" class="fadeIn third" value="Log In">
        </form>
    
        <div id="formFooter">
          <a class="underlineHover" href="/register">Register</a>
        </div>
    
      </div>
    </div>
  </body>
</html>
