<html>
  <head>
    <link href="style.css" type="text/css" rel="stylesheet">
    <title>Register</title>
  </head>
  <body>

    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->    
        <!-- Login Form -->
        <form action="/register" method="post">
          <input type="text" id="name" class="fadeIn second" name="name" placeholder="Name">
          <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username">
          <input type="password" id="password" class="fadeIn second" name="password" placeholder="Password">
          <input type="submit" class="fadeIn fourth" value="Register">
        </form>
    
        <div id="formFooter">
          <a class="underlineHover" href="/login">Login</a>
        </div>
    
      </div>
    </div>
  </body>
</html>
